html {
    position: relative;
    min-height: 100%;
}
  body {
    margin-bottom: 160px; /* Margin bottom by footer height */
}

nav{
    background-color: rgb(250, 250, 250);
    color: #707070;
    box-shadow: 1px 1px 1px lightgray;
}
.navbar-nav .nav-link{
    color: #707070
}

.navbar-nav .nav-link:hover{
    color:#30B5C5 !important;
}
.navbar .logo{
    margin-left: 20px;
}